body 
	{
	font-family: Verdana, Geneva, Tahoma, sans-serif; /* the list of fonts tells us that if the first does not work than the next one will be used */
	font-size: 1em;
	color: #ffffff;
	
	
	text-align: left;
	text-shadow: 3px 3px 6px #888;
	
	background-image: url(photo-1618005182384-a83a8bd57fbe.jpeg);
	background-position: center;
	background-size: cover;
	
	}
	#header{
		text-align: center;
	}
	
	table 
	{
		background-color: #1E1E1E ;		
		
	}

	#hotel_exteriors{
		margin-top: 200px;
	}

	h1{
		border: 3px solid #fbfbfb;
		text-align: center;
		border-radius: 10px
	}
	
			
	#img1{
		height: 400px;
		width: 500x;
		float: left;
		margin-right: 25px;
	}
	#gif{
		margin: auto;
		width: 600px;
		height: 400px;
	}


	/* 

  Every element is a rectangular box with:
  - Content area (innermost layer)
  - Padding (next layer)
  - Border (next layer)
  - Margin (outermost layer)
*/
	
	.box{
		border: 2px solid darkslategray ;
		padding: 40px;
		height: auto;
		width: 50%;
		background-color: #D3D3D3 ; 
		box-shadow: 10px 5px 5px #888; 	/* 1st value is horizontal offset, 2ns is vertical offset and 3rd is blur radius */
		color: black;
	}
	
	
	#box1{
		margin:auto ;
		margin-top : 15px;
	}
	
	#box2{
		margin:auto ;
		margin-bottom: 10px;
	}
	
	
	#button1{
		font-size:medium;
		background-color:lightgray; 
		color:black; border-radius: 7px; 
	}
	
	#button1:hover{
		background-color: darkgray; 
		color: white;
	}
	
	#button1:active{
		background-color: darkslategray; 
        color: white;
	}
	
	
	.separator >{
		border-bottom: 1px dashed #ccc;
		margin-bottom: 20px;
		padding-bottom: 20px;
	}
	
	

	/*
	
	
	
	Remember to add a pop ups using the position types 
	
	
	– overflow helps us if text is too big in a box
	– e.g. overflow auto adds a scrollbar if text is too big
	
	
	
	
	#box2{
		border: 5px solid black ;
		height: 5px;				
		overflow: auto ;
	}
	*/
	
	/*#img2{
		float: left;
		this allows the text to be next to the image
	}*/
	
	
